#post{
  background-color: white;
  margin-top: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  border: 2px solid rgb(206, 206, 206);
}

#post-top-side{
  display: flex;
  padding-top: 5px;
}

#post-info{
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

#post-img{
  margin-left: 15px;
}

#post-username{
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 2px;
}

#post-date{
  color: grey;
}

#post-text{
  padding-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 500;
}

#post-options-container{
  display: flex;
  justify-content: space-around;
  padding-bottom: 5px;
}