#post-writing-icon-container{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s;
  padding: 5px;
  
}

#post-writing-icon{
  color: rgb(255, 113, 88);
  box-sizing: border-box;
  font-size: 30px;
  margin-right: 2px;
}

#post-writing-text{
  box-sizing: border-box;
  font-size: 15px;
  font-weight: 600;
  color: rgb(94, 94, 94);
  position: relative;
  bottom: 3px;
  margin-right: 5px;
}

#post-writing-icon-container:hover{
  background-color: rgb(233, 232, 232);
}